@{
    ViewBag.Title = "Error";
}

<div class="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm4-4 col-sm-offset-2 alert alert-danger" style="margin-top:250px">
            <div class="col-md-3" style="text-align:center">
                <img src="~/images/boom.png" style="width:100%" />
            </div>
            <div class="col-md-9 logo cursive" style="font-size:20px;color:red;margin-top:40px">
                Page not found
            </div>
        </div>
    </div>
</div>